@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body,
body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: 0 !important; }

body.custom-background {
  padding: 0;
  margin: 0; }

a,
input,
button {
  outline: 0 !important; }

a {
  text-decoration: none !important; }

.mc__main, .mc__footer {
  width: 100%;
  float: left; }
.mc__container {
  margin: 0 auto;
  max-width: 1440px; }
.mc__sidebar {
  float: left; }
.mc__content {
  float: right; }

@media (min-width: 768px) {
  .mc__container {
    width: calc(100% - 40px); }
  .mc__sidebar {
    float: left; }
  .mc__content {
    float: right; } }
@media (min-width: 992px) {
  .mc__sidebar {
    width: 30%;
    max-width: 320px; }
  .mc__content {
    width: calc(70% - 30px); }
  .mc__main {
    min-height: calc(100vh - 180px);
    padding: 40px 20px; }

  .only-tab {
    display: none !important; } }
@media (max-width: 991px) {
  .mc__sidebar, .mc__content {
    width: 100%; }
  .mc__main {
    padding: 30px 0; }

  .rest-tab {
    display: none !important; } }
@media (max-width: 767px) {
  .mc__container {
    width: calc(100% - 20px); } }
.mc__content--details {
  width: 100%;
  float: left; }
  .mc__content--details.rest-of-the-home {
    padding: 20px 20px 10px;
    border: 2px solid #fff; }
  .mc__content--details .rss-inner-page-slider-1 {
    background-color: transparent !important; }
  .mc__content--details .rss-inner-slider-sec {
    padding: 0 90px; }
  .mc__content--details h1 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 1.7rem; }
  .mc__content--details h2 {
    margin: 0 0 5px;
    font-style: italic;
    font-size: 1.3rem; }
  .mc__content--details h3 {
    font-size: 1.1rem; }
  .mc__content--details h4,
  .mc__content--details h5 {
    font-size: 1rem;
    text-transform: uppercase; }
  .mc__content--details h6 {
    font-size: 0.8rem; }
  .mc__content--details h3
  h5,
  .mc__content--details h6 {
    margin: 0 0 5px; }
  .mc__content--details h4 {
    margin: 5px 0 10px; }
  .mc__content--details p {
    margin: 0 0 15px;
    font-size: 0.9rem; }
  .mc__content--details li {
    margin: 0 0 5px; }

@media (max-width: 1199px) {
  .mc__content--details .rss-inner-slider-sec {
    padding: 0; } }
.mc__sidebar .mc__logo,
.mc__sidebar section {
  width: 100%;
  float: left; }
.mc__sidebar .menu-toggle {
  display: none; }
.mc__sidebar .mc__logo {
  margin: 0 0 15px; }
  .mc__sidebar .mc__logo img {
    width: 100%;
    height: auto; }
.mc__sidebar .contact__title h2 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.8px; }
  .mc__sidebar .contact__title h2 span {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }

/***/
form.wpcf7-form {
  margin: 0; }
  form.wpcf7-form p {
    margin: 0; }

form.wpcf7-form .wpcf7-form-control-wrap {
  margin: 0 0 15px;
  width: 100%;
  display: inline-block; }
form.wpcf7-form .wpcf7-text {
  height: 40px;
  background-color: transparent !important;
  border: 1px solid #000;
  color: #fff;
  box-shadow: none !important;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  min-width: 1px;
  text-indent: 15px; }
  form.wpcf7-form .wpcf7-text::-webkit-input-placeholder {
    /* Edge */
    color: #fff; }
  form.wpcf7-form .wpcf7-text:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff; }
  form.wpcf7-form .wpcf7-text::placeholder {
    color: #fff; }
form.wpcf7-form .wpcf7-submit {
  float: right;
  padding: 10px 10px;
  width: auto;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 0.8rem;
  text-transform: uppercase;
  min-width: 120px;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.4s ease all; }

div.wpcf7 {
  margin: 0;
  padding: 0; }

div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0; }

div.wpcf7-mail-sent-ok,
div.wpcf7-response-output,
div.wpcf7-mail-sent-ng,
div.wpcf7-aborted,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  max-width: 320px; }

div.wpcf7-response-output {
  margin: 5px 0 0;
  padding: 5px 10px;
  border: 1px solid #ff0000; }

div.wpcf7-mail-sent-ok {
  border: 1px solid #398f14;
  background-color: #398f14; }

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  border: 2px solid #ff0000;
  background-color: #ff0000; }

div.wpcf7-spam-blocked {
  border: 2px solid #ffa500;
  background-color: #ffa500; }

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 2px solid #f7e700;
  background-color: #f7e700; }

.wpcf7-form-control-wrap {
  position: relative; }

span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 0.8rem;
  font-weight: normal;
  display: block;
  margin: 5px 0 0; }

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #ff0000;
  background: #fff;
  padding: .2em .8em; }

span.wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em; }

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
  content: " "; }

.wpcf7-display-none {
  display: none; }

div.wpcf7 .ajax-loader {
  visibility: hidden;
  display: inline-block;
  background-image: url("../../images/ajax-loader.gif");
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 0 0 4px;
  vertical-align: middle; }

div.wpcf7 .ajax-loader.is-active {
  visibility: visible; }

div.wpcf7 div.ajax-error {
  display: none; }

div.wpcf7 .placeheld {
  color: #888; }

div.wpcf7 input[type="file"] {
  cursor: pointer; }

div.wpcf7 input[type="file"]:disabled {
  cursor: default; }

div.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed; }

@media (min-width: 992px) {
  .mc__sidebar .mc__logo a {
    display: inline-block;
    max-width: 115px; }
  .mc__sidebar .wpcf7-submit:hover {
    background-color: #000;
    color: #fff; } }
@media (max-width: 991px) {
  .mc__sidebar .contact__title h2 {
    margin: 25px 0 10px; }
    .mc__sidebar .contact__title h2 span {
      width: auto;
      margin: 0; } }
.mc__footer {
  padding: 20px 0 20px;
  position: relative;
  border-top: 1px solid #000; }
  .mc__footer .widget-title {
    font-size: 1rem; }
  .mc__footer--logos {
    float: right;
    width: 150px; }
    .mc__footer--logos section,
    .mc__footer--logos img {
      margin: 0;
      width: 100%;
      display: inline-block; }
  .mc__footer--contact {
    float: left; }
    .mc__footer--contact h2 {
      margin: 0 0 3px;
      font-weight: 100;
      font-size: 0.9rem;
      text-transform: uppercase; }
    .mc__footer--contact p {
      margin: 0 0 3px;
      font-weight: 100;
      font-size: 0.9rem; }
      .mc__footer--contact p strong {
        font-weight: 600; }
      .mc__footer--contact p a {
        transition: 0.4s ease all; }
    .mc__footer--contact .contact__place {
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 600; }
    .mc__footer--contact .contact__hotline a,
    .mc__footer--contact .contact__hotline span {
      display: inline-block; }
    .mc__footer--contact .contact__hotline span {
      margin: 0 4px; }

@media (min-width: 768px) {
  .mc__footer--logos {
    position: absolute;
    right: 10px;
    bottom: 5px; }
  .mc__footer--contact {
    width: calc(100% - 180px); }
    .mc__footer--contact p a:hover {
      color: #888 !important; } }
@media (max-width: 767px) {
  .mc__footer--logos, .mc__footer--contact {
    width: 100%; }
  .mc__footer--logos {
    max-width: 180px;
    float: left;
    margin: 15px 0 0; } }
.mc__content--nav {
  border: 2px solid #fff;
  width: 100%;
  float: left;
  margin-bottom: 30px; }
  .mc__content--nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mc__content--nav li {
    margin: 0;
    float: left;
    width: 20%;
    text-align: center;
    border-right: 2px solid #fff; }
    .mc__content--nav li:last-child {
      border-right: none; }
  .mc__content--nav a {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.4s ease all;
    letter-spacing: 0.6px; }
  .mc__content--nav li.current_page_item a {
    color: #000 !important;
    background-color: #fff; }

@media (min-width: 992px) {
  .mc__content--nav a:hover {
    color: #000 !important;
    background-color: #fff; } }
@media (max-width: 991px) {
  body {
    padding-top: 82px !important; }

  .mc__content--nav {
    border: none;
    background-color: #222;
    width: 100%;
    max-width: 240px;
    position: fixed;
    right: -241px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    margin-bottom: 0;
    padding: 25px 10px;
    z-index: 10;
    transition: 0.4s ease all; }
    .mc__content--nav li {
      width: 100%;
      text-align: center;
      border-right: none;
      border-bottom: 1px solid rgba(244, 240, 240, 0.63); }
    .mc__content--nav a {
      width: 100%;
      padding: 15px 0;
      font-size: 0.9rem; }
    .mc__content--nav li.current_page_item a {
      color: #000 !important;
      background-color: #fff; }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    float: left;
    border-bottom: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; }
    header .mc__logo {
      float: left;
      height: 60px;
      margin: 10px 0; }
      header .mc__logo a {
        width: 100%;
        display: inline-block; }
      header .mc__logo img {
        display: block;
        height: 60px;
        width: auto; }

  .header__humberg {
    display: block;
    float: right;
    position: absolute;
    opacity: 1;
    top: 24px;
    right: 20px;
    opacity: 1;
    width: 26px;
    height: 26px; }
    .header__humberg .icon-bar {
      position: absolute;
      display: block;
      height: 4px;
      width: 26px;
      background-color: #fFf;
      transform: rotate(0);
      transition: 0.2s, ease, all; }
      .header__humberg .icon-bar-a {
        top: 15px; }
      .header__humberg .icon-bar-b {
        top: 27px; }
      .header__humberg .icon-bar-c {
        bottom: 19px; }
    .header__humberg.active .icon-bar-a, .header__humberg.active .icon-bar-c {
      right: 15px; }
    .header__humberg.active .icon-bar-a {
      top: 14px;
      transform: rotate(45deg); }
    .header__humberg.active .icon-bar-b {
      background-color: transparent !important; }
    .header__humberg.active .icon-bar-c {
      bottom: 8px;
      transform: rotate(-45deg); }

  body .mc__main,
  body .mc__footer {
    right: 0;
    top: 0;
    position: relative;
    transition: 0.4s ease all; }
  body header {
    transition: 0.4s ease all; }
  body.menu-active {
    overflow-x: hidden; }
    body.menu-active .mc__main,
    body.menu-active .mc__footer {
      right: 240px; }
    body.menu-active header {
      right: 240px;
      left: -240px; }
    body.menu-active .mc__content--nav {
      right: 0; } }

/*# sourceMappingURL=custom.css.map */
